html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
#Ð°pp {
    width: 100%;
    height: 100%;
}

.center {
    position: absolute;
    top: 50%;
    Left: 50%;
    transform: translate(-50%, -50%);
}